body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
}

header {
    background-color: #E4AD58;
    height: 2.5em;
    padding: 1em;
}

h1 {
    margin: auto;
}

.container {
    background-color: #F7E7CE;
    border-radius: 3%;
    width: 50vw;
    height: 70vh;
    margin: 4em auto;
}

.form {
    margin: 1em 1em;
    display: flex;
    flex-direction: column;
}



footer {
    background-color: #E4AD58;
    height: 2em;
    padding: 1em;
    bottom: 0;
    position: fixed;
    width: 100vw;

}